.Product-card {
  height: 400px;
  width: 250px;
  margin: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #e1e1e1;

  &--image {
    display: flex;
    flex-direction: column;
    text-align: center;

    #cartButton {
      display: flex;
      justify-content: center;
    }

    p {
      margin: 5px;
    }

    img {
      border-radius: 5px 5px 0 0;
      display: block;
      height: 250px;
      border-radius: 5px;
    }
  }
}