.button {
  font-size: 2em;
  padding: 10px;
  border: 2px solid rgb(0, 75, 6);
  border-radius: 50%;
  text-decoration: none;
  transition: 0.4s;
  position: fixed;
  bottom: 23px;
  right: 28px;
}
.button:hover {
  background-color: rgb(0, 75, 6);
}

.overlay {
  position: fixed;
  bottom: 23px;
  right: 28px;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: fixed;
  bottom: 23px;
  right: 28px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 20vw;
  height: 40vh;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.popup h2 {
  margin-top: 0;
  color: rgb(0, 75, 6);
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 75, 6);
}

.popup .content {
  height: 30vh;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}